@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Rajdhani:wght@600;700&family=Audiowide&display=swap');
@import "tailwindcss";

@layer base {
  body {
    background-color: theme('colors.black');
    color: theme('colors.neutral.100');
    min-height: 100vh;
  }
}